@model Event

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Избриши Настан</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="ImageUrl" type="hidden" />
            <input asp-for="Id" type="hidden" />
            <div class="border p-3 mt-4">
                <div class="mb-3 row p-1">
                    <label asp-for="Name" class="p-0"></label>
                    <input asp-for="Name" disabled class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="mb-3 row p-1">
                    <label asp-for="Description" class="p-0"></label>
                    <input asp-for="Description" disabled class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="mb-3 row p-1">
                    <label asp-for="StartDate" class="p-0"></label>
                    <input asp-for="StartDate" disabled class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="EndDate" class="p-0"></label>
                    <input asp-for="EndDate" disabled class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="Quiz.Name" class="p-0"></label>
                    <input asp-for="Quiz.Name" disabled class="form-control" />
                    <span asp-validation-for="Quiz.Name" class="text-danger"></span>
                </div>

               @*  <div class="mb-3 row p-1">
                    <label asp-for="Event.QuizId" class="p-0"></label>
                    <select asp-for="Event.QuizId" asp-items="@Model.QuizList" class="p-0 form-select">
                        <option disabled selected>--Select Quiz--</option>
                    </select>
                    <span asp-validation-for="Event.QuizId" class="text-danger"></span>
                </div> *@

                <div class="mb-3 row p-1">
                    <label asp-for="ImageUrl" disabled class="p-0"></label>
                    <input disabled type="file" name="file" class="form-control" />
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" alt="Image" class="img-fluid" />
                    }
                </div>



                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Избриши</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Event" asp-action="Index" class="btn btn-outline-secondary border form-control">Врати се назад</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
