@model IEnumerable<Event>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Листа на Настани</h2>
        </div>
        @if (User.IsInRole(SD.Role_Admin))
        {
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Event" asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> Додади нов настан</a>

            </div>
        }
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Слика</th>
                <th>Име</th>
                <th>Дескрипција</th>
                <th>Дестинација</th>
                <th>Почеток</th>
                <th>Крај</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.ImageUrl" alt="Image" class="img-fluid" /></td>
                    <td>@item?.Name</td>
                    <td>@item?.Description</td>
                    <td>@item?.Destination</td>
                    <td>@item?.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item?.EndDate.ToString("dd/MM/yyyy")</td>

                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <td>
                            <div class="w-75 btn-group" role="group">

                                <a asp-area="Admin" asp-controller="Event" asp-action="Edit" asp-route-id="@item?.Id" class="btn btn-primary mx-2">
                                    Едитирај
                                </a>
                                <a asp-area="Admin"  asp-controller="Event" asp-action="Delete" asp-route-id="@item?.Id" class="btn btn-danger mx-2">
                                    Избриши
                                </a>
                                @*    <a asp-area="Admin" asp-controller="Quiz" asp-action="Detail" asp-route-quizId="@item?.QuizId" class="btn btn-info mx-2">
                                    Разгледај Квиз
                                </a> *@

                                @*  <a asp-area="User" asp-controller="PlayQuiz" asp-action="Index" asp-route-quizId="@item?.QuizId" class="btn btn-warning mx-2">
                                Играј Квиз
                            </a>
 *@

                            </div>

                        </td>
                    }

                </tr>
            }

        </tbody>

    </table>
