<div id="events-top">
	<div>
		<h2 id="as-naslov">За Асоцијацијата</h2>
	</div>
</div>
<div id="ascijacija-page">

	<div id="goals">
		<div>
			■ Промоција на квиз културата во Македонија
			<p>
				Поттикнување на интерес за знаење, логика и општа култура преку натпреварувачки и забавни квизови
			</p>
		</div>
		<div>
			■ Организирање на натпревари и првенства
			<p>Локални, регионални и државни квиз натпревари (мастерси, тематски квизови, првенства)</p>
		</div>
		<div>
			■ Создавање заедница на квизаџии
			<p>Целиме да изградиме активна и пријателска квиз-заедница што ги поврзува сите квиз љубители</p>
		</div>
		<div>
			■ Поддршка на млади таленти
			<p> Ги охрабруваме и поддржуваме младите да се вклучат и развиваат преку квиз натпревари и активности.</p>
		</div>

	</div>
	<h2>Македонската Квиз Асоцијација не е само институција – таа е заедница!</h2>

	<div id="about-accociation">
		
		<div id="accociation-text">
			Македонската Квиз Асоцијација (МКА) е формирана во 2021 година како непрофитно здружение со мисија да ја унапреди квиз културата во земјава и да создаде платформа за квалитетно и организирано натпреварување.

			МКА претставува врвна организација за сите љубители на квизови – од рекреативци до искусни натпреварувачи. Нашата работа опфаќа организација на сезонски мастерс натпревари, тематски квизови, државни првенства и квалификации за меѓународни квиз настани. Работиме по стандарди слични на оние на Светската квиз асоцијација, со строго контролирана изработка на прашања, транспарентни бодови и фер судење.
			
		</div>
		<div id="accociation-image">
			<img src="~/Images/quiz/logo.jpg" alt="Alternate Text" />
		</div>
	</div>


</div>