@model EventVM

<div class="add-card">
    <div class="card-header ml-0 py-3">
        <div class="row">
            <div class="">
                <h2 class="py-2">Креирај Настан</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Event.ImageUrl" type="hidden"/>
            <div class="border p-3 mt-4">
                <div class="mb-3 row p-1">
                    <label asp-for="Event.Name" class="p-0"></label>
                    <input asp-for="Event.Name" class="form-control" />
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                </div>


                <div class="mb-3 row p-1">
                    <label asp-for="Event.Description" class="p-0"></label>
                    <input asp-for="Event.Description" class="form-control" />
                    <span asp-validation-for="Event.Description" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="Event.Destination" class="p-0"></label>
                    <input asp-for="Event.Destination" class="form-control" />
                    <span asp-validation-for="Event.Destination" class="text-danger"></span>
                </div>


                <div class="mb-3 row p-1">
                    <label asp-for="Event.StartDate" class="p-0"></label>
                    <input asp-for="Event.StartDate" value="" class="form-control" />
                    <span asp-validation-for="Event.StartDate" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="Event.EndDate" class="p-0"></label>
                    <input asp-for="Event.EndDate" value="" class="form-control" />
                    <span asp-validation-for="Event.EndDate" class="text-danger"></span>
                </div>

              

                <div class="mb-3 row p-1">
                    <label asp-for="Event.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" />
                    @if (!string.IsNullOrEmpty(Model.Event.ImageUrl))
                    {
                        <img src="@Model.Event.ImageUrl" alt="Image" class="img-fluid" style="max-height: 300px; object-fit: cover;padding: 20px" />
                    }
                </div>




                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Зачувај</button>
                    </div>
                    <div class="col-6 col-md-6">
                        <a asp-area="User" asp-controller="Event" asp-action="Index" class="btn btn-primary form-control">Врати се назад</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
