@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Избриши Категорија </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" type="hidden" />
            <div class="border p-3 mt-4">

                <div class="mb-3 row p-1">
                    <label asp-for="categoryName" class="p-0"></label>
                    <input disabled asp-for="categoryName" class="form-control" />
                    <span asp-validation-for="categoryName" class="text-danger"></span>
                </div>


                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Избриши</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Admin" asp-controller="TypeQuestion" asp-action="Index" class="btn btn-primary border form-control">Врати се назад</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
