
<div id="events-top">
	<div>
		<h2>За нас</h2>
	</div>
</div>
<div id="about-us-page">
	
	<div id="about-us-content">
	<div class="about-us-tect-box">Ние сме група луѓе кои ја делат истата страст – љубовта кон знаењето, логиката, натпреварувањето и добрата дружба. Секој од нас доаѓа од различна позадина – некои сме инженери, наставници, уметници, програмери, студенти – но сите сме квизаџии во срце. </div>
	<div class="about-us-tect-image">
			<img src="~/Images/quiz/about-us1.jpg" alt="Alternate Text" />
	</div>
	<div class="about-us-tect-image">
		<img src="~/Images/quiz/abou-us-2.jpg" alt="Alternate Text" />
	</div>
	
	<div class="about-us-tect-box">Веруваме дека квизот не е само забава, туку и одлична алатка за личен раст, интелектуален развој и создавање нови пријателства. Преку нашите активности сакаме да изградиме заедница каде секој љубител на квизови ќе се чувствува добредојден, охрабрен и вреднуван</div>
	
	</div>
</div>

