@model ShowRangListOptionsVM

<form asp-area="User" asp-controller="RangList" asp-action="FilterRangList" method="post" id="rang-list-form">
    <div id="rang-list-fillter">
        <div class="rang-list-select-option">
            <div >
                <label class="p-0 text-black">Селектирај Настан</label>
                <select asp-for="SelectedEventId" asp-items="@Model.Events" class="p-0 form-select">
                    <option selected value="">--Селектирај Настан--</option>
                </select>
                <span asp-validation-for="SelectedEventId" class="text-danger"></span>
            </div>
        </div>

        <div class="rang-list-select-option">
            <div >
                <label class="p-0 text-black">Селектирај Категорија</label>
                <select asp-for="SelectedCategoryId" asp-items="@Model.Categories" class="p-0 form-select">
                    <option selected value="">--Селектирај Категорија--</option>
                </select>
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
        </div>

        <div class="rang-list-select-option" >
            <div >
                <label class="p-0 text-black">Селектирај Година</label>
                <select asp-for="SelectedYear" asp-items="@Model.EventsByYear" class="p-0 form-select">
                    <option  selected value="">--Селектирај Година--</option>
                </select>
                <span asp-validation-for="SelectedYear" class="text-danger"></span>
            </div>
        </div>

        <div class="rang-list-button">
            <button type="submit" class="btn btn-success">Пребарај</button>
        </div>
    </div>
</form>


    

    
  
